   .country-dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .country-dropdown {
    display: block;
    width: 300px;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .country-dropdown::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .country-dropdown:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .country-dropdown::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .country-dropdown::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .country-dropdown:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .country-dropdown::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .country-dropdown::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .country-dropdown:disabled,
  .country-dropdown[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  
  select.country-dropdown:focus::-ms-value {
    color: #495057;
    background-color: #fff;
  }
  
  .country-dropdown-file,
  .country-dropdown-range {
    display: block;
    width: 100%;
  }
  